@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  margin: 0 !important;
}

.klinecharts-pro {
  --klinecharts-pro-primary-color: #1677ff;
  --klinecharts-pro-hover-background-color: rgba(22, 119, 255, 0.15);
  --klinecharts-pro-background-color: #FFFFFF;
  --klinecharts-pro-popover-background-color: #FFFFFF;
  --klinecharts-pro-text-color: #051441;
  --klinecharts-pro-text-second-color: #76808F;
  --klinecharts-pro-border-color: #ebedf1;
  --klinecharts-pro-selected-color: rgba(22, 119, 255, 0.15);
}

.klinecharts-pro[data-theme="dark"] {
  --klinecharts-pro-hover-background-color: rgba(22, 119, 255, 0.15);
  --klinecharts-pro-background-color: #191925;;
  --klinecharts-pro-popover-background-color: #1c1c1f;;
  --klinecharts-pro-text-color: #6f6e84;
  --klinecharts-pro-text-second-color: #6f6e84;
  --klinecharts-pro-border-color: #2b2b3b;
}